.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 65% 35%;

    .big-image-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .big-image {
            width: 600px;
            height: 400px;
        }

    }


    .image-list {
        display: flex;
        justify-content: space-around;

        .selected-pic {
            border: 6px solid black;
        }

        img {
            cursor: pointer;
            width: 300px;
            height: 225px;
        }
    }

}