.my-selected-wrapper {
    max-width: 250px;
    border: 1px solid black;
    border-radius: 9px;

    div {
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: cadetblue;
        }

        &.item-selected {
            font-weight: bold;
            background-color: coral;
            ;
        }
    }
}